//
   Created by Harsh on 19-12-2015.

h1  Mail designed by automatic system
h1  NSS IIT DELHI
h2  presents
h1  #{baseoned.eventname}
div
    !{baseoned.eventdetails}
div
    span Time of the event:
    span  #{baseoned.eventtime}
div
    span Venue of the event
    span  #{baseoned.eventvenue}
